.MovieListItem {
  padding: 10px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #eeeeee;
  margin: 0 1% 10px;
}

.MovieListItemTitle {
  font-weight: 700;
}

.MovieListItemGenres {
  margin: 5px 0;
}

.MovieListItem img {
max-width : 100%;
}

@media (max-width: 1023px) {
  .MovieListItem {
      width: 31.33%;
  }
}

@media (max-width: 767px) {
  .MovieListItem {
      width: 48%;
  }
}

@media (max-width: 599px) {
  .MovieListItem {
      width: 98%;
  }
}